
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    
    --card: 240 10% 4%;
    --card-foreground: 0 0% 98%;
    
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 98%;
    
    --primary: 327 100% 64%;
    --primary-foreground: 0 0% 98%;
    
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 65%;
    
    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 240 5% 65%;
    
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-color: #13111C;
    background-image: radial-gradient(circle at center, rgba(248, 76, 186, 0.1) 0%, rgba(19, 17, 28, 0) 70%);
  }
}

@layer components {
  .glow-text {
    text-shadow: 0 0 10px rgba(248, 76, 186, 0.7), 0 0 20px rgba(248, 76, 186, 0.5);
  }
  
  .neon-border {
    box-shadow: 0 0 15px rgba(248, 76, 186, 0.3), inset 0 0 15px rgba(248, 76, 186, 0.1);
  }
}
